/**  AdminPanel file Style Start **/

.dash-heading {
    background-color: #222C3F;
}

.dashboard-leftbar {
    background-color: #3D4B64;
    height: 100vh;
}

.dash-heading span {
    font-weight: 600;
    font-size: 1.2em;
}

/**  PanelCard file Style Start **/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header-title {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 15px;
    /* font-weight: 600; */
    font-family: 'Roboto Slab', serif;
}

.title:hover {
    cursor: pointer;
}

/** Dashboard Navbar-Top style Start **/
.MuiAvatar-root:hover {
    cursor: pointer;
}

/** Add Papers Input form width **/
.form-control {
    width: 50%;
}

/* EntriesVendor Forms  */

.venIn {
    display: flex;
    justify-content: center;
    width: "30%";
}


.halo::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.venSlect {
    width: 25%;
}

th {
    font-family: 'Abyssinica SIL', serif;
}

td {
    font-family: 'Abyssinica SIL', serif;
}
